body {
  min-width: 150px;
  font-size: 1.3em;
}
button {
  padding: 5px;
  border-radius: 4px;
  border: none;
  background-color: #8fc0ff;
  color: white;
  outline: none;
  transition: background-color 0.1s linear;
}
button.active {
  background-color: #0064ff;
  transition: background-color 0.3s linear;
}
.options {
  width: 100%;
}
